.userInfo {
    margin-top: 35px;
}

.userBackground {
    background-color: #d9d9d9;
    width: 100%;
    height: 300px;
    border-radius: 20px;
}

.userWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    transform: translateY(-75px);
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    @media (max-width: 550px) {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}

.user {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    gap: 40px;
}

.userPhoto {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: #000;
}

.userName {
    font-weight: 500;
    font-size: 38px;
    @media (max-width: 350px) {
        font-size: 26px;
    }
}

.userKeys {
    ul {
        display: flex;
        gap: 22px;
        @media (max-width: 550px) {
            flex-direction: column;
            gap: 5px;
            text-align: center;
        }
    }
    li {
        font-size: 25px;
        font-weight: 400;
        color: #000;
        @media (max-width: 850px) {
            font-size: 20px;
        }

        span {
            font-size: 20px;
            font-weight: 300;
            color: #094dd0;
            @media (max-width: 850px) {
                font-size: 15px;
            }
        }
    }
}
