.profileResearch{
    display: flex;
    margin-bottom: 95px;
    input{
        width: 1050px;
        height: 75px;
        margin-right: 53px;
        font-size: 24px;
        font-weight: 500;
        font-family: 'Outfit', sans-serif;
        background: rgba(217, 217, 217, 1);
        border-radius: 0px 20px 20px 0;
    }

    h1 {
        display: flex;
        align-items: center;
        padding-right: 28px;
        padding-left: 31px;
        font-size: 28px;
        background: rgba(217, 217, 217, 1);
        border-radius: 20px 0 0 20px;
    }
    button{
        width: 267px;
        height: 75px;
        border-radius: 20px;
        background: rgba(217, 217, 217, 1);
        font-size: 30px;
        font-weight: 500;
        font-family: 'Outfit', sans-serif;
        cursor: pointer;
    }
}
