.modalTonConnect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    overflow-y: auto;
    z-index: 999;
}

.modalWrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
}

.modalContent {
    position: relative;
    margin-top: 70px;
    width: 900px;
    height: 672px;
    border-radius: 20px;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
