.profile{
    width: 1350px;
    margin: 0 auto;
}
.mainCardsProfileAndPurchasesDate{
    display: flex;
}

@media (max-width: 1350px) { 
    .profile {
    width: 1000px;
    margin: 0 auto;
        input{
            width: 650px;
        }
}
} 
 
// @media (max-width: 1000px) { 
//     .profile { 
//         width: 100%; 
//         margin: 0 auto;
//         padding-inline: 20px; 
//     } 
// }