.container {
    padding-bottom: 20px;
}

.reviewContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #ededed;
  border-radius: 15px;
  width: 100%;
  padding: 15px;
  gap: 30px;
}

.reviewTitle {
    font-size: 28px;
    font-weight: 400;
    @media(max-width: 700px) {
        font-size: 20px;
    }
    @media(max-width: 400px) {
        font-size: 16px;
    }
}

.reviewsContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title {
    font-size: 52px;
    font-weight: 400;
    margin-bottom: 45px;
}

.reviewTitleAndMark {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    @media(max-width: 480px) {
        align-items: center;;
    }
}

.imgPlaceholder,
.img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.reviewText {
    font-size: 20px;
    font-weight: 400;
    @media(max-width: 400px) {
        font-size: 14px;
    }
}

.imgPlaceholder {
    background-color: #9a9a9a;
}

.reviewHeader {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    @media(max-width: 480px) {
        flex-direction: column;
    }
}

.cardContainer {
    margin-left: auto;
    background-color: #9a9a9a;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    position: relative;
    h4 {
        padding-block: 6px;
        font-size: 12px;
        font-weight: 400;
        color: #fff;
        display: inline-flex;
        width: 100%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: #323232;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
    }
    @media(max-width: 580px) {
        display: none;
    }
    span{
        position: absolute;
        display: flex;
        align-items: center;
        width: 12px;
        height: 12px;
        margin-right: 65px;
        i{
            
            color: black;
            padding: 4px 2px;
            border-radius: 20px;
            background: rgba(217, 217, 217, 1);
        }
    }
}
