.imgContainer {
    img {
        width: 250px;
        height: 250px;
        margin-bottom: 59px;
        border-radius: 20px;
        background: rgba(217, 217, 217, 1);
    }
}
@media (max-width: 1024px) {
    // .imgContainer {
    //     margin-left: 200px;
    // }
}


