.profile{
    width: 1350px;
    margin: 0 auto;
    position: relative;
}
.mainCardsProfileAndPurchasesDate{
    display: flex;
}

@media (max-width: 1350px) { 
    .profile {
    width: 1000px;
    margin: 0 auto;
        input{
            width: 650px;
        }
}
} 