.title {
    margin-left: 87px;
    margin-bottom: 59px;
    font-size: clamp(32px, 8vw, 72px);
    font-weight: 400;
    line-height: 90px;
    @media(max-width: 600px) {
        margin-left: 0;
    }
}

.container {
    padding-bottom: 50px;
    div {
        display: flex;
        gap: 100px;
        flex-wrap: wrap;
        width: fit-content;
        margin-inline: auto;
        @media(max-width: 800px) {
            flex-direction: column;
            img {
                margin: 0;
            }
        }
    }
}
