.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.button {
    text-align: center;
    font-size: 24px;
    color: #000;
    border: 3px solid #5b5b5b;
    border-radius: 20px;
    max-width: 200px;
    width: 100%;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 0 15px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 300px;
    font-weight: 500;
}

.searchButton {
    height: 50px;
    width: 50px;
    padding: 0 10px;
    border-radius: 20px;
    border: 3px solid #5b5b5b;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.headerMenu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #fff;
}

@media (max-width: 768px) {
    .container {
        justify-content: unset;
    }
    .buttons {
        margin-left: auto;
    }
}

@media (max-width: 525px) {
    .container {
        gap: 20px;
    }
    .searchButton {
        height: 40px;
        width: 40px;
        padding: 0 10px;
        border-radius: 15px;
        border: 3px solid #5b5b5b;
        font-size: 16px;
    }
    .button {
        height: 40px;
        font-size: 22px;
    }
}

@media (max-width: 370px) {
    .button {
        font-size: 16px;
    }
}

.closeMenuButton {
    width: 50px;
    height: 50px;
    display: inline-flex;
    font-size: 24px;
    border: 3px solid #5b5b5b;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}

.headerMenu {
    padding-inline: auto;
}

.headerMenu search {
    position: absolute;
    top: 100px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}
