.search {
    border: 3px solid #5b5b5b;
    border-radius: 20px;
    height: 50px;
    width: 100%;
    max-width: 800px;
    min-width: 200px;
}

.search form {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
    padding: 0 20px;
    width: 100%;
}

.search button {
    width: 28px;
    height: 28px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.search input {
    border: none;
    font-size: 20px;
    height: 100%;
    font-family: "Outfit", sans-serif;
    width: 100%;
}

.search input:focus-visible {
    outline: none;
    border: none;
}

.search input::placeholder {
    color: #383838;
}

