@font-face {
    font-family: 'Outfit';
    font-weight: 900;
    src:
        url("/fonts/Outfit-Black.woff2") format("woff2");
}

@font-face {
    font-family: 'Outfit';
    font-weight: 800;
    src:
        url("/fonts/Outfit-ExtraBold.woff2") format("woff2");
}

@font-face {
    font-family: 'Outfit';
    font-weight: 700;
    src:
        url("/fonts/Outfit-Bold.woff2") format("woff2");
}

@font-face {
    font-family: 'Outfit';
    font-weight: 600;
    src:
        url("/fonts/Outfit-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: 'Outfit';
    font-weight: 500;
    src:
        url("/fonts/Outfit-Medium.woff2") format("woff2");
}

@font-face {
    font-family: 'Outfit';
    font-weight: 400;
    src:
        url("/fonts/Outfit-Regular.woff2") format("woff2");
}

@font-face {
    font-family: 'Outfit';
    font-weight: 300;
    src:
        url("/fonts/Outfit-Light.woff2") format("woff2");
}

@font-face {
    font-family: 'Outfit';
    font-weight: 200;
    src:
        url("/fonts/Outfit-ExtraLight.woff2") format("woff2");
}

@font-face {
    font-family: 'Outfit';
    font-weight: 100;
    src:
        url("/fonts/Outfit-Thin.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Outfit';
}