.cardsProfile {
    display: flex;
    flex-wrap: wrap;

    .cardsContainer {
        

        

        img {
            display: block;
            width: 270px;
            height: 270px;
            background: rgba(217, 217, 217, 1);
            border-radius: 20px 20px 0 0;

        }

        h1 {
            width: 270px;
            height: 62px;
            margin-bottom: 79px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            font-weight: 400;
            border-radius: 0 0 20px 20px;
            background: rgba(50, 50, 50, 1);
            color: white;
        }
    }
}
    @media (max-width: 1920px) {
        .cardsProfile {
            width: 1060px;;
            margin: 0 auto;

            .cardsContainer {
                margin-right: 120px;
                &:nth-child(3n+3) {
                    margin-right: 0px;
                }
            }
        }
    }
@media (max-width: 1350px) { 
    .cardsProfile {
        width: 700px;
        
        .cardsContainer{
            margin-right: 150px;
            &:nth-child(2n+2){
                margin-right: 0;
            }
            &:nth-child(3){
                margin-right: 150px;
            }
        }
    } 
} 
 
